<div class="card-container">
    <a class="card" rel="noopener" routerLink="/product/detail/:0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Ajouter un produit</span>
    </a>

  </div>

<div>
    <table mat-table [dataSource]="products" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column.column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{column.libelle}} </th>
          <td mat-cell *matCellDef="let element"> 
            <span *ngIf="column.column !== 'name'">{{element[column.column]}} </span>
            <a *ngIf="column.column === 'name'" [routerLink]="['/detail', element.id]" routerLinkActive="router-link-active"  mat-button><mat-icon>mode</mat-icon>{{element[column.column]}}</a>
            <mat-card class="image-card" *ngIf="column.column === 'picture' && !!element.picture">
            <mat-card-header>
              <div mat-card-avatar class="image-header-image"></div>
              <mat-card-title></mat-card-title>
              <mat-card-subtitle>Image du produit</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="product.picture">
            <mat-card-content>
            </mat-card-content>
            
          </mat-card>
           </td>
        </ng-container>


      
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
</div>
