<!-- 

<div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>CALICOT SHOP</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        
        <a href="#" mat-button><mat-icon>home</mat-icon></a>
        <a href="#" mat-button><mat-icon>login</mat-icon></a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item><mat-icon>home</mat-icon></a>
        <a href="#" mat-list-item><mat-icon>login</mat-icon></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="container-fluid" role="main">

        <router-outlet></router-outlet>

        <footer></footer>
      
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

 -->

 <app-layout>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>
